.pokedex__container {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pokedex__svg {
  height: 600px;
  width: 800px;
}

.pokedex__left {
  stroke: none;
  fill: #c00f0c;
}

.pokedex__left--curve {
  fill: #8b0000;
}

.pokedex__left--glass {
  stroke-width: 3px;
  stroke: white;
  fill: #12daf1;
}

.pokedex__left--hinge {
  fill: #950202;
}

.pokedex__left--red-light {
  fill: #f5292a;
}

.pokedex__left--green-light {
  fill: #7bfb45;
}

.pokedex__left--yellow-light {
  fill: #fafb58;
}

.pokedex__left--circular-button {
  fill: #184dee;
}

.pokedex__screen--bezel {
  fill: #b0b0b0;
}

.pokedex__bezel--dot {
  fill: #c00f0c;
  stroke: black;
  stroke-width: 1px;
}

.pokedex__bezel--button {
  fill: #a80707;
}

.pokedex__bezel--speaker {
  stroke-width: 3px;
  stroke: #494949;
}

.pokedex__left--radius-button-green {
  fill: #50fb05;
}

.pokedex__left--radius-button-red {
  fill: #fb0d05;
}

.pokedex__left--dpad {
  fill: #222;
}

.pokedex__right {
  stroke-width: 1px;
  stroke: #c00f0c;
  fill: #c00f0c;
}

.pokedex__right--rect-buttons {
  width: 250px;
  position: absolute;
  left: 450px;
  top: 410px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokedex__right--rect-button {
  width: 45px;
  height: 35px;
  margin-right: 5px;
  margin-top: 5px;
  background: #184dee;
  border-radius: 10px;
}

.pokedex__right--dot-orange {
  fill: #fd8439;
}

.pokedex__right--dot-green {
  fill: #50fb05;
}

.pokedex__right--yellow-screens {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 425px;
  top: 525px;
  width: 300px;
}

.pokedex__right--yellow-screen {
  box-shadow: 0 0 20px #ff6600 inset;
  height: 60px;
  width: 140px;
  background: #ffff00;
  border-radius: 15px;
}

.pokedex__right--yellow-screen:first-of-type {
  margin-right: 20px;
}

.pokedex__stats {
  background: #30db0b;
  position: absolute;
  width: 250px;
  height: 250px;
  padding: 25px;
  left: 425px;
  top: 100px;
  box-shadow: 0 0 20px #003300 inset;
  border-radius: 20px;
  font-family: 'VT323', monospace;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

.pokedex__stat--genus {
  margin-top: 5px;
}

.pokedex__stat--description {
  text-align: left;
  margin-top: 5px;
}

.pokedex__search-container {
  min-height: 1em;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px 5px;
  cursor: text;
  margin-top: 25px;
}

.pokedex__search-input {
  background: #30db0b;
  font-family: 'VT323', monospace;
  outline: none;
  font-size: 1em;
  height: 1em;
  text-align: left;
  caret-color: rgba(0,0,0,0);
}

.pokedex__search-input--caret {
  width: .5em;
  height: 1em;
  background: black;
  animation: blink 1.2s infinite;
}

.viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  position: absolute;
  width: 200px;
  height: 290px;
  padding: 21px;
  border-radius: 20px;
  left: 50px;
  top: 100px;
  border: 4px solid #7b7b7b;
}
.viewer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #636e72;
}

.viewer__info--type {
  border-radius: 999px;
  color: white;
  padding: 5px 7px;
}

.viewer__info--type:nth-of-type(2n) {
  margin-left: 5px;
}

.viewer__info--item {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  width: 100%;
}

.viewer__info--title {
  width: 70px;
}

.viewer__image {
  max-width: 100%;
}

.pokeball-loader {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 3px solid black;
  position: relative;
  animation: fade 1.4s infinite;
}

.pokeball-loader__top {
  height: 37.5px;
  width: 75px;
  border-radius: 75px 75px 0 0;
  background: #f00000;
  position: absolute;
  top: 0;
}

.pokeball-loader__centerline {
  height: 3px;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  background: black;
}

.pokeball-loader__center {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 3px solid black;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.pokeball-loader__bottom {
  height: 37.5px;
  width: 75px;
  border-radius: 0 0 75px 75px;
  background: #f00000;
  position: absolute;
  bottom: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  70.1% {
    opacity: 1
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

/* ::-webkit-scrollbar-button {
  opacity: 0 !important;
  display: block !important;
  background: rgba(0,0,0,0) !important;
  visibility: hidden !important;
  display: none;
} */
 /* .pokedex__stats::-webkit-scrollbar-thumb {
  background: black !important;
} */

.pokedex__stats::-webkit-scrollbar {
  width: 10px !important;
  display: block;
}

/*::-webkit-scrollbar-track {
  height: 220px !important;
} */